.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background: var(--mat-toolbar-container-background-color);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.left h2 {
    margin: 0;
    font-weight: 600;
}

.slide {
    padding-top: 17px
}

.right {
    display: flex;
    // align-items: center;
    gap: 12px;
}

.monthly,
.yearly {
    padding-top: 3px
}

.toggle {
    height: 56px;
}

.date,
.district {
    width: 290px;
}
